<div>
    <a href="@ViewBag.model.Link">
        <img src="~/Assets/uploads/@ViewBag.model.Image" class="align-bottom">
        <h6>@ViewBag.model.Title</h6>
    </a>
    <p class="text-justify">
        @ViewBag.model.Description
    </p>
</div>